{% extends "global/Page.html" %}
{% block title %}Courses en ligne{% endblock %}

{% block content %}
<p>
  Vous allez faire un mini-panier avec <b>{{ C.NUM_ROUNDS }}</b> produits.
  Vous avez <b>{{ total_time }} secondes</b> au total.
</p>

{% if goal_frame == "collective" %}
  <p><b>Cadre collectif :</b> vos choix s’inscrivent dans une initiative collective de réduction des emballages.</p>
{% else %}
  <p><b>Cadre individuel :</b> faites vos courses comme d’habitude.</p>
{% endif %}

<p>
  Pour chaque produit, l’option <b>emballée</b> est sélectionnée par défaut.
  Vous pouvez changer pour <b>vrac</b> si vous le souhaitez.
</p>

{{ next_button }}
{% endblock %}
